<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
<%= link_to "Task List", root_path, class: 'text-white' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Assigned To:
        </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Bryan Peens</a>
        <a class="dropdown-item" href="#">Michelle</a>
        <a class="dropdown-item" href="#">Whesley</a>
      </div>
      </li>
    
    </ul>
    <%= render 'form_index', list: @list %> 
  </div>
</nav>