<h1>Editing Todo Item</h1>
<br/>
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <%= render 'form', list: @list %> 
  </div>

</div>
<br/>
<br/>

<% link_to 'Show', @list %>
<%= link_to 'Back', lists_path %>
